.cart {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  border: 1px solid gray;
  .img {
    flex: 5;
    width: 100%;
    height: 150px;
    .percent {
      background-color: white;
      border: 2px solid green;
      color: green;
      font-size: 16px;
      border-radius: 10px;
      position: relative;
      bottom: 140px;
      right: 235px;
      width: 50px;
      height: 50px;
      align-content: center;
      text-align: center;
    }
    img {
      border-radius: 20px;
      object-fit: contain;
    }
  }
  .title {
    flex: 4;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .prices {
    display: flex;
    flex-direction: row;
    flex: 2;
    p {
      color: gray;
    }
    h5 {
      color: green;
    }
    .icon {
      width: 50%;
      text-align: end;
      align-content: center;
      padding-left: 10px;
      position: relative;
      display: inline-block;
      .btn {
        background-color: white;
        border: 2px solid green;
        color: green;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
        padding: 10px;
        position: relative;
        .badge {
          color: white;
          padding: 3px;
          background: red;
          width: 20px;
          height: 16px;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: -15px;
          right: -15px;
        }
      }
      .btn:hover {
        background-color: green;
        color: white;
      }
    }
    .price {
      width: 50%;
      align-content: center;
      text-align: start;
      padding-right: 10px;
      p {
        font-size: 12px;
        text-decoration: line-through;
      }
    }
  }
}
