.product-cart {
  display: flex;
  height: 500px;
  padding: 100px;
  .cart-img {
    flex: 3.5;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
    object-fit: cover;
    img {
      height: 350px;
    }
  }
  .cart-info {
    flex: 4.5;
    padding: 20px;
    margin-right: 20px;

    h5 {
      font-weight: 900;
      font-size: 10px;
      .category-list {
        list-style-type: none;
      }
    }
    .button {
      display: flex;
    }
    button {
      border: none;
      background-color: white;
      color: rgb(216, 46, 216);
      cursor: pointer;
      font-size: 15px;
    }
  }
  .cart-price {
    flex: 3.5;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    hr {
      width: 300px;
    }
    .more {
      height: 50%;
    }
    .button {
      width: 100%;
      display: flex;
      .price {
        width: 70%;
        text-align: center;
        .has-discount {
          text-decoration: line-through;
        }
      }
      .discount {
        width: 30%;
        text-align: -webkit-center;
        background-color: black;
        color: white;
        width: 30px;
        height: 30px;
        margin-right: 50px;
        margin-top: 30px;
        text-align: center;
        background-color: rgb(255 9 108);
        p {
          margin-top: 5px;
        }
      }
      .count {
        border-radius: 5px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        width: 70%;
        border: 1px solid black;
        margin-right: 20px;
        height: 40px;
        align-items: center;
        .add {
          border: none;
          border-radius: 0 5px 5px 0;
          width: 50px;
          height: 40px;
          font-size: 20px;
          cursor: pointer;
        }
        .dec {
          border: none;
          border-radius: 5px 0 0 5px;
          width: 50px;
          height: 40px;
          font-size: 20px;

          cursor: pointer;
        }
      }
      .like {
        width: 30%;
        text-align: -webkit-center;
        background-color: black;
        color: white;
        width: 30px;
        height: 30px;
        margin-right: 30px;
        margin-top: 5px;
        text-align: center;
        cursor: pointer;
      }
      .add-product {
        border: none;
        margin-top: 25px;
        border-radius: 2px;
        height: 30px;
        margin-right: 10px;
        width: 90%;
        background-color: rgb(255 9 108);
        color: white;
        cursor: pointer;
      }
    }
  }
}
