@mixin input-format {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
@mixin font-size {
  font-size: 16px;
  color: #333;
}
@mixin btn-input {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: 700;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 450px;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  background: linear-gradient(#00ced1, #87ceeb);
  // background-color: #198ab0;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, -2);
  .form-box {
    width: 100%;
    padding: 40px;
    form h2 {
      font-size: 36px;
      text-align: center;
      color: #dcdcdc;
    }
    .input-box {
      @include input-format;
      .input {
        @include font-size;
        @include btn-input;
        text-align: center;
      }
      input::placeholder {
        color: gray;
        padding-right: 10px;
      }

      .icon {
        @include font-size;
        position: absolute;
        right: 20px;
        top: 50%;
        translate: 0 -50%;
      }
      .forgot {
        color: #dcdcdc;
        font-size: 13px;
        margin-right: 20px;
        font-weight: 500;
        span {
          cursor: pointer;
        }
      }
    }

    .login {
      @include input-format;
      .submit {
        @include font-size;
        @include btn-input;
      }
      button:hover {
        color: #dcdcdc;
        background: linear-gradient(264deg, #00ffff -6.09%, #77bfe9 90.28%);
        font-size: 20px;
      }
    }
  }
}
