@mixin input-format {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
@mixin font-size {
  font-size: 16px;
  color: #333;
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  height: 450px;
  border-radius: 20px;
  background: seagreen;
  color: #fff;
  display: flex;
  align-items: center;
  background-color: #198ab0;
  transition: height 0.2s ease;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, -2);
  .form-box {
    width: 100%;
    padding: 40px;
    form h2 {
      font-size: 36px;
      text-align: center;
      color: #80c1f9;
    }
    .input-box {
      @include input-format;
      .input {
        @include font-size;
        width: 100%;
        height: 45px;
        background: #fff;
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        font-weight: 700;
        text-align: center;
      }
      input::placeholder {
        color: gray;
        padding-right: 10px;
      }

      .icon {
        @include font-size;

        position: absolute;
        right: 20px;
        top: 50%;
        translate: 0 -50%;
      }
    }
    .login {
      @include input-format;
      .submit {
        @include font-size;

        width: 100%;
        height: 45px;
        background: #fff;
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        font-weight: 700;
      }
      button:hover {
        color: white;
        padding: "10px 20px";
        background: linear-gradient(264deg, #198ab0 -5.09%, #77bfe9 106.28%);
        font-size: "16px";
        transition: transform 0.3s ease;
      }
    }
  }
}
